@mixin timo-border {
  border: var(--border-black);
  border-radius: var(--border-radius-small);
  border-bottom-width: 2px;
  border-right-width: 2px;
}

@mixin timo-border--flat {
  border: var(--border-black);
  border-radius: var(--border-radius-small);
}

@mixin base-button {
  @include timo-border;
  background: unset;
  cursor: pointer;
  height: var(--input-height);
  margin: 0;

  &:active {
    border-width: 1px;
  }
}
