@font-face {
  font-family: 'Nunito';
  font-style: normal;
  src: url('src/assets/fonts/Nunito-VariableFont_wght.ttf') format('truetype');
}

body {
  font-family: var(--font-family);
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
}

h1,
h2 {
  margin-bottom: 10px;
}

p {
  margin: 0;
}

button,
input {
  font-family: var(--font-family);
}
