@font-face {
  font-family: 'Nunito';
  font-style: normal;
  src: url('src/assets/fonts/Nunito-VariableFont_wght.ttf') format('truetype');
}

/* @font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 500;
  src: url('src/assets/fonts/Nunito-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  src: url('src/assets/fonts/Nunito-VariableFont_wght.ttf') format('truetype');
} */

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
}

p {
  margin: 0;
}

button {
  font-family: 'Nunito', sans-serif;
}
