:root {
  --border-black: 1px solid #000;
  --border-radius-small: 6px;
  --color-primary: #8b99df;
  --color-error: #cf0000;
  --font-family: 'Nunito', sans-serif;
  --font-size: 14px;
  --horizontal-padding: 8px;
  --input-height: 28px;
  --popup-width: 360px;
}
