.tasks {
  display: grid;
  grid-template-rows: min-content 300px 1fr;
  gap: 10px;
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__export {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 4px;
    overflow-y: auto;
  }

  &__footer {
    border-top: var(--border-black);
  }
}
