@import './src/assets/scss/mixins.scss';

.icon-button {
  @include base-button;
  padding: 2px;

  &--whiteBg {
    background: #fff;
  }

  &--blackBg {
    background: #000;
    svg {
      fill: #fff;
    }
  }
}
