.task-create {
  border-top: var(--border-black);
  display: grid;
  gap: 6px;
  padding: 8px 0;
  &__input + div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
