@import './src/assets/scss/variables.scss';
@import './src/assets/scss/typography.scss';
@import './src/assets/scss/mixins.scss';

* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
div#root {
  border: var(--border-black);
  width: var(--popup-width);
}
